@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Home Index</title>
    </head>
    <body>
        <div><h1>Home Index</h1></div>
        <div><h2>@ViewData["Message"]</h2></div>
        @Html.ActionLink("Test1", "Index", "Test1")
        @Html.ActionLink("Test 1 Another", "Another", "Test1")
    </body>
</html>
